
body {
    height: 100vh;
    margin: 0
}

.box {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.box .header {
    flex-grow: 0;
    flex-basis: 10%;
}

.header{
background-size: 50% 100%;
background-position: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}
.box .content {
    flex-grow: 1;
    flex-basis: auto;
    background-color: #cad3e8;
}

.box .footer {
    flex-grow: 0;
    flex-basis: 15px;
    background-color: #29251a;
    width: 100%;
}

.center {
    margin: auto;
    width: 30%;
    text-align: center;
  }

  #FotoPerf{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 40%;
  }

  #tituloPagina{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  #SubTitle{
    margin-top: 15px;
    text-align: center;
  }
  
  
  #TagSauda{
    text-align: center;
  }

  #LogoLink{
    width: 6%;
   
  }

  #CorpCard{
    box-shadow: 10px 5px 5px #696969;
  }
 
  #LineConte{
    justify-content: center;
    margin-bottom: 25px;
    margin-right: auto;
      margin-left: auto;
  }
 
 
